<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[ scitSainanGuide.html]</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/myPage/myMarkerFavorites.js}"></script>
    <script th:src="@{/js/myPage/myMarkerFavorites_distance.js}"></script>
</head>
<body>
    <h1> [ scitSainanGuide ] </h1>
    <h3> [ myFavoriteMarker.html ] </h3>
    <hr>
    <!--
        구현해야하는 것들
        3. 마커 별칭을 지어줄 수 있다.
        4. 마커 별칭을 수정할 수 있다.
        5. 마커 목록 검색 (장소 이름 / 분류 / 별칭)
        6. 마커 목록 페이징처리 한다. (한 페이지 당 20건)
        7. 마커 목록을 정렬한다. (기본: 거리 오름차순)
        8. 마커 목록 정렬 기준을 선택해, 해당 마커를 출력한다. (거리 오름차순, 이름 오름차순)
    -->
    <div>
        <h3>즐겨찾기 마커의 목록을 조회</h3>
        <h3>계정에 따른 리스트업은 아직 미구현</h3>
    </div>

    <div>
        <!-- 현재 접속한 사람의 정보 -->
    </div>

    <div>
        <!-- 검색 폼 -->
        <div class="searchForm-container">
            <form id="pagingForm" th:action="@{/my/myMarkerFavorites}" method="get">
                <input type="hidden" name="page" id="page" value="1" />
                <input type="hidden" name="filter" id="filter" th:value="${filter}" />
                <input type="hidden" name="sortBy" id="sortBy" th:value="${sortBy}" />

                <!-- 검색어 입력 필드 -->
                <input  type="text" name="searchWord" id="searchWord" th:value="${searchWord}" placeholder="검색어를 입력하세요." />

                <a>필터: </a>
                <button id="filterAll">모두 보기</button>
                <button id="filterHospital">병원</button>
                <button id="filterShelter">대피소</button>
                <a>/ 정렬: </a>
                <button id="sortByDistance">거리순</button>
                <button id="sortByName">이름순</button>
                <!--<input type="submit" onclick="pagingFormSubmit(1)" value="검색"/>-->
            </form>
        </div>

        <!-- 즐겨찾기 데이터 표시하는 공간 전체를 form으로 감싸 삭제할 수 있도록 함 -->
        <form th:action="@{/my/myMarkerFavorites/delete}" method="post" id="deleteForm">
            <button type="submit">선택된 항목 삭제</button>

            <!-- list 출력 id는 'tsh0828'인 경우로 한정해서 작성했습니다. (test용)-->
            <!-- 삭제 성공 실패 출력하는 공간 -->
            <div th:if="${errorMessage}" style="color: red;">
                <p th:text="${errorMessage}"></p>
            </div>

            <div th:if="${successMessage}" style="color: green;">
                <p th:text="${successMessage}"></p>
            </div>
            <!-- 삭제 성공 실패 출력하는 공간 -->

            <!-- 즐겨찾기 마커 데이터 출력하는 공간 -->
            <table style="text-align: center">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Favorite Marker ID</th>
                        <th>Name</th>
                        <th>Member ID</th>
                        <th>Type</th>
                        <th>Hospital ID</th>
                        <th>Shelter ID</th>
                        <th>Nickname</th>
                        <th>RealName</th>
                    </tr>
                </thead>

                <tbody id="markerTableBody">
                    <tr th:each="marker : ${pageData.content}">
                        <td><input type="checkbox" name="favoriteId" th:value="${marker.favoriteId}"></td>
                        <td th:text="${marker.favoriteId}">ID</td>
                        <td>
                            <span th:if="${marker.nickname != ''}">
                                <a th:text="${marker.nickname}" class="nickname-exists"></a>
                                <a>(</a>
                                <a th:text="${marker.name}"></a>
                                <a>)</a>
                            </span>
                            <span th:if="${marker.nickname == ''}">
                                <a th:text="${marker.name}" class="nickname-missing"></a>
                            </span>
                        </td>
                        <td th:text="${marker.memberId}">Member ID</td>

                        <!-- 병원과 데이터를 구분해서 표시 -->
                        <td><span th:if="${marker.hospitalId != null}">병원</span><span th:if="${marker.hospitalId == null}">대피소</span></td>
                        <td th:text="${marker.hospitalId != null ? marker.hospitalId : ''}">Hospital ID</td>
                        <td th:text="${marker.shelterId != null ? marker.shelterId : ''}">Shelter ID</td>
                        <td th:text="${marker.nickname}">Nickname</td>
                        <td th:text="${marker.name}">RealName</td>
                    </tr>
                </tbody>

            </table>
        </form>

        <!-- pagination 부분 -->
        <div th:replace="fragments/pagination :: pagination"></div>
    </div>
</body>

<!-- 페이징 기능을 위한 js -->
<script th:src="@{/js/paging.js}"></script>
</html>