<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[ scitSainanGuide.html]</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function() {
            // alert("jq_ready.");
        });
    </script>
</head>
<body>
    <h1> [ scitSainanGuide ] </h1>
    <h3> [ myFavoriteMarker.html ] </h3>
    <hr>
    <!-- 구현해야하는 것들
        2. 즐겨찾기한 마커를 삭제한다.
        3. 마커 별칭을 지어줄 수 있다.
        4. 마커 별칭을 수정할 수 있다.
        5. 마커 목록 검색 (장소 이름 / 분류 / 별칭)
        6. 마커 목록 페이징처리 한다. (한 페이지 당 20건)
        7. 마커 목록을 정렬한다. (기본: 거리 오름차순)
        8. 마커 목록 정렬 기준을 선택해, 해당 마커를 출력한다. (등록 날짜 내림차순, 거리 오름차순, 이름 오름차순)
    -->
    <div>
        <h3>즐겨찾기 마커의 목록을 조회</h3>
        <h3>계정에 따른 리스트업은 아직 미구현</h3>
    </div>

    <div>
        <!-- 현재 접속한 사람의 정보 -->

    </div>

    <div>
        <!-- list 출력 id는 'tsh0828'인 경우로 한정해서 작성했습니다. (test용)-->
        <table style="text-align: center">
            <thead>
                <tr>
                    <th>Favorite Marker ID</th>
                    <th>Name</th>
                    <th>Member ID</th>
                    <th>Type</th>
                    <th>Hospital ID</th>
                    <th>Shelter ID</th>
                    <th>Nickname</th>
                    <th>RealName</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="marker : ${markerFavoritesDTOPage.content}">
                    <td th:text="${marker.favoriteId}">ID</td>
                    <td>
                        <span th:if="${marker.nickname != ''}"><a th:text="${marker.nickname}"></a></span>
                        <span th:if="${marker.nickname == ''}"><a th:text="${marker.name}"></a></span>
                    </td>
                    <!-- 장소 이름 --> <!-- api 사용 -->
                    <td th:text="${marker.memberId}">Member ID</td>
                    <td>
                        <span th:if="${marker.hospitalId == null}"><a th:value="shelter">대피소</a></span>
                        <span th:unless="${marker.hospitalId == null}"><a th:value="hospital">병원</a></span>
                    </td>
                    <td th:text="${marker.hospitalId}">Hospital ID</td>
                    <td th:text="${marker.shelterId}">Shelter ID</td>
                    <td th:text="${marker.nickname}">Nickname</td>
                    <td th:text="${marker.name}">RealName</td>
                    <td>
                        <!-- 삭제 버튼 추가 -->
                        <form th:action="@{/my/myMarkerFavorites/delete}" method="post" th:object="${marker}">
                            <input type="hidden" name="favoriteId" th:value="${marker.favoriteId}"/>
                            <button type="submit">삭제</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- 이전 페이지 링크 -->
        <span th:if="${markerFavoritesDTOPage.hasPrevious()}">
            <a th:href="@{/my/myMarkerFavorites(page=${markerFavoritesDTOPage.number}, pageSize=${markerFavoritesDTOPage.size})}">이전</a>
        </span>

        <!-- 각 페이지 번호 링크 -->
        <span th:each="i : ${#numbers.sequence(1, markerFavoritesDTOPage.totalPages)}">
            <a th:href="@{/my/myMarkerFavorites(page=${i}, pageSize=${markerFavoritesDTOPage.size})}"
               th:text="${i}" th:classappend="${i == markerFavoritesDTOPage.number + 1} ? 'active'"></a>
        </span>

        <!-- 다음 페이지 링크 -->
        <span th:if="${markerFavoritesDTOPage.hasNext()}">
            <a th:href="@{/my/myMarkerFavorites(page=${markerFavoritesDTOPage.number + 2}, pageSize=${markerFavoritesDTOPage.size})}">다음</a>
        </span>


        <!-- 검색 폼 -->
        <div>

        </div>
    </div>

</body>
</html>