#info-panel {
    top: 100px;
    left: 10px;
    width: 40%;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: none;
}

@keyframes jittery {
    5%, 50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1.15) rotate(-5deg);
    }
    25% {
        transform: scale(1.15) rotate(5deg);
    }
    30% {
        transform: scale(1.15) rotate(-3deg);
    }
    35% {
        transform: scale(1.15) rotate(2deg);
    }
    40% {
        transform: scale(1.15) rotate(0);
    }
}

.btn {
    margin: 1rem;
}
.btn-jittery {
    -webkit-animation: jittery 4s infinite;
    animation: jittery 4s infinite;
}