<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>BoardWriteForm</title>
</head>
<body>
<header>
    <h1>[ 글쓰기 ]</h1>
</header>

<section>
    <!-- 바이너리 데이터 포함되는 폼. enctype 반드시 정확히 지정 -->
    <form id="writeForm" enctype="multipart/form-data"
          th:action="@{/board/write}"  method="post">

        <table>
            <tr>
                <th><lable for="contents">내용</lable></th>
                <td>
                    <textarea name="contents" id="contents"></textarea>
                </td>
            </tr>
            <tr>
                <th>파일첨부</th>
                <td>
                    <input type="file" name="upload">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="white center">
                    <button type="submit">저장</button>
                </td>
            </tr>
        </table>
    </form>

</section>
</body>
</html>
