<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <title>[중복 확인]</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/icon8.png}">
    <link rel="stylesheet" th:href="@{/css/register/idCheck.css}" />
    <script th:src="@{/js/idCheck.js}"></script>
</head>
<body>
<h2>[ID 중복 확인]</h2>
<br>
<section>
    <form id="searchForm" action="#" method="post">
        검색 할 ID <input type="text" name="searchId" id="searchId" maxlength="20">
        <input type="submit" value="검색">
    </form>

    <!-- 검색 후에만 출력 -->
    <div th:if="${searchId != null}">
        <div th:if="${not result}">
            <p>이미 사용중인 아이디입니다.</p>
        </div>
        <div th:if="${result}">
            <p><span th:text="${searchId}"></span>
                <span>: 사용 가능한 아이디입니다.</span></p>
            <p>
                <button id="inputButton" th:data-id="${searchId}">ID 사용하기</button>
            </p>
        </div>
    </div>

    <!-- 유효성 검사 메시지 -->
    <div id="error-message"></div>
</section>
</body>
</html>
