<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/icon8.png}">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/register/info.css}"/>
    <script th:src="@{/js/info.js}"></script>
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}">
</head>
<body>
<div id="RegisterContainer">
    <h1 id="A1">회원 정보 수정</h1>
    <!-- 프로필 사진 미리보기 -->
    <img id="profilePreview" src="#" alt="프로필 사진 미리보기" class="profile-preview" style="display: none;"/>

    <form id="joinForm" th:action="@{/member/info}" th:object="${memberDTO}" method="post"
          enctype="multipart/form-data">

        <!-- 히든 필드로 아이디 추가 -->
        <input type="hidden" th:field="*{memberId}" />

        <div class="form-group password-container">
            <span>비밀번호</span>
            <input type="password" id="password" th:field="*{password}" required/>
            <!-- 아이콘을 비밀번호 입력창 오른쪽에 추가 -->
            <img src="/img/hide_eye.ico" alt="비밀번호 표시" class="password-toggle-icon"/>

            <br>
            <!-- 유효성 검사 메시지 -->
            <div id="error-message"></div>
        </div>

        <div class="form-group">
            <label for="nickname">사용중인 닉네임 변경 : <span th:text="${memberDTO.nickname}"></span></label>
            <input type="text" id="nickname" th:field="*{nickname}" required/>
        </div>

        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" id="email" th:field="*{email}" required/>
        </div>

        <div class="form-group">
            <label for="phone">전화번호</label>
            <input type="text" id="phone" th:field="*{phone}" required/>
        </div>

        <div class="form-group">
            <label for="nationality">국적</label>
            <select id="nationality" th:field="*{nationality}" required>
                <option value="">선택하세요</option>
                <option value="KR">대한민국</option>
                <option value="JP">일본</option>
            </select>
        </div>

        <div class="form-group">
            <label for="file">프로필 사진</label>
            <input type="file" id="file" name="file" accept=".jpg,.jpeg,.png"/>
            <small id="fileError" class="error" style="display: none;">허용된 파일 형식이 아닙니다. (.jpg, .jpeg, .png)</small>
        </div>

        <p th:utext="'<strong>'+ ${#authentication.principal.username} + '</strong>' + ' 님 정말' + '<strong>'+' 회원 탈퇴 '+'</strong>'+'하실건가요?'"></p>

        <div class="form-group">
            <section class="model-15" id="withdrawSection" th:field="*{withdraw}">
                <div class="checkbox">
                    <input type="checkbox" id="withdrawCheckbox"/>
                    <label></label>
                </div>
            </section>
        </div>

        <div class="form-group">
            <button id="submitBtn" type="submit">수정하기</button>
        </div>
    </form>

    <!-- 비밀번호 확인 모달 -->
    <div class="modal fade" id="passwordCheckModal" tabindex="-1" role="dialog" aria-labelledby="passwordCheckModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordCheckModalLabel">비밀번호 확인</h5>
                </div>
                <div class="modal-body">
                    <form id="passwordForm" method="post">
                        비밀번호: <input type="password" id="searchPw" maxlength="20">
                        <button type="button" id="searchButton">확인</button>
                    </form>
                    <!-- 결과 메시지 표시 영역 -->
                    <div id="resultMessage"></div>
                </div>
                <div class="modal-footer">
                    <!-- 모달을 닫는 버튼은 확인 후 활성화 됩니다 -->
                    <button type="button" class="btn btn-primary" id="confirmButton" style="display: none;">확인</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
