<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="icon" type="image/x-icon" th:href="@{/img/icon8.png}">
  <link rel="stylesheet" th:href="@{/css/register/login .css}" />
  <script th:src="@{/js/login.js}"></script>
</head>
<body>
<h2>로그인</h2>
<form id="loginForm" th:action="@{/member/login}" th:object="${memberDTO}" method="post">
  ID <input type="text" id="memberId" th:field="*{memberId}" required><br>
  PW <input type="password" id="password" th:field="*{password}" required /><br>
  <button type="submit">로그인</button>
</form>

<!-- 에러 메시지 출력 -->
<div th:if="${error}" style="color: red;">
  <p th:text="${error}"></p>
</div>
<button type="button" onclick="location.href='/member/register'">회원가입 하기</button>
</body>
</html>