@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loadingImage {
    width: 50px; /* 원하는 크기로 조정 */
    height: 50px; /* 원하는 크기로 조정 */
    animation: rotate 1s linear infinite; /* 애니메이션 적용 */
}

#loadingStatus{
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    color: dodgerblue;
}

body {
    font-family: "Noto Sans JP", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.translateCard {
    width: 95%;              /* 카드의 너비를 95%로 설정 */
    margin: 2%;              /* 카드 간 간격 설정 */
    /* height: 100px;       */ /* 고정 높이 제거 */
}

.card {
    display: flex;            /* 카드 내부 요소도 플렉스 박스로 설정 */
    flex-direction: column;  /* 세로 방향으로 배치 */
    flex-grow: 1;            /* 남은 공간을 채우도록 설정 */
}

.card-body {
    flex-grow: 1;            /* 카드 본문이 가능한 공간을 모두 차지하게 함 */
}


.btnBlue {
    background: #007bff;
}

.btnSkyblue {
    background: #81D8D0;
}

.btnSpace{
    margin-left: 10%;
}

.btnPush {
    box-shadow: 0px 5px 0px 0px #AFDBF5;
}

.button , #labelOfFile {
    display: inline-block;
    width: 100px;
    position: relative;
    padding: 0;
    margin: 10px 20px 10px 10px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    color: #FFF;
    border-radius: 5px;
    background-color: #007bff; /* 버튼의 기본 배경색 설정 */
    border: none; /* 버튼에 테두리 제거 */
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;  /* 애니메이션 속성 구체화 */
    text-decoration: none; /* 밑줄 제거 */
    box-shadow: 0 5px 0 0 #0056b3; /* 기본 상태에서의 그림자 */
    cursor: pointer;
}

/*.button , #labelOfFile:hover {*/
/*    background-color: #0056b3; !* 호버 시 배경색 변경 *!*/
/*    box-shadow: 0 7px 0 0 #003580; !* 호버 시 그림자 조금 더 진하게 *!*/
/*}*/

.button:active {
    background-color: #004080; /* 클릭 시 배경색 변경 */
    box-shadow: 0 2px 0 0 #003580; /* 클릭 시 그림자를 얕게 하여 눌린 효과 */
    transform: translateY(2px); /* 클릭 시 버튼을 살짝 아래로 이동 */
}


#selectLan{
    width: 150px;
    border-radius: 4px;
    padding: 5px 30px 5px 10px;
    background-color: #1C39BB;
    color: white;
}

#selectLan option{
    background: #B0E0E6;
    color: black;
    padding: 3px 0;
}

#audioFile{
    display: none;
}

#fileName{
    padding-left: 25%;
    visibility: hidden;
}