/* 중앙 정렬 및 이미지 크기 조정 */
.text-center {
    text-align: center;
}

.language-selection {
    display: flex;
    justify-content: center;
    gap: 20px; /* 이미지 간의 간격 조정 */
    margin-bottom: 20px; /* 이미지와 다른 요소 간의 간격 조정 */
}

.language-selection img {
    width: 100px; /* 이미지 너비를 두 배로 확대 */
    height: auto; /* 비율을 유지하면서 높이 자동 조정 */
    cursor: pointer; /* 클릭 가능한 커서 표시 */
}

/* 버튼과 텍스트 중앙 정렬 */
h2, h4 {
    text-align: center;
}

#stop-recording {
    margin-top: 20px;
}

.divider {
    border: 1px solid #ddd; /* 구분선을 연한 회색으로 설정 */
    margin: 20px 0; /* 구분선 위와 아래에 여백 추가 */
}

/* 기본 스타일 설정 */
.content-area {
    transition: background-color 0.3s ease;
}

/* 녹음 종료 버튼 스타일 */
#stop-recording {
    background-color: transparent;
    border: 2px solid;
    color: inherit;
}

.select{
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
    color: #fff!important;
    box-sizing: border-box;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    margin: 5%;
    display: inline-block;
    border-radius: 10px; /* 둥근 모서리 */
}

#streamingLan option:first-child {
    background-color: #6610f2; /* 첫 번째 옵션에 대한 배경색 */
    color: #000; /* 첫 번째 옵션에 대한 글자색 */
}

#streamingLan option:nth-child(2) {
    background-color: #e74a3b;
    color: #000;
}

#streamingLan option:nth-child(3) {
    background-color: white;
    color: #000;
}
