<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>File translation</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/icon8.png}">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/translate/translateUploadedFile.js}"></script>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/translate/translateUploadedFile.css}">
</head>
<body>
<div id="wrapper">

    <!-- Sidebar -->
    <div th:insert="fragments/menuTranslate :: menuTranslate" id="menuTranslate"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:insert="fragments/topbar :: topbar" id="topbar"></div>
            <!-- End of Topbar -->

            <h2 th:text="#{translate.fileTranslate}"></h2>
            <input type="file" id="audioFile" accept="audio/*">
            <label for="selectLan" th:text="#{translate.selectLan}">언어 선택:</label>
            <select id="selectLan">
                <option value="en-US" th:text="#{translate.en}">영어</option>
                <option value="ja-JP" th:text="#{translate.ja}" selected>일본어</option>
                <option value="ko-KR" th:text="#{translate.ko}">한국어</option>
            </select>
            <button onclick="upload()" th:text="#{translate.microFileUpload}"></button>
            <hr>
            <p id="texted" th:text="#{translate.text}">텍스트: </p>
            <p id="translated" th:text="#{translate}">변역: </p>
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</body>
</html>