<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>File translation</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/icon8.png}">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/translateUploadedFile.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index/index.css}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script th:src="@{/js/translate/translateUploadedFile.js}"></script>
    <script th:inline="javascript">
        <!-- 번역용 변수 -->
        let textedError = /*[[#{translate.textedError}]]*/ '텍스트화 실패';
        let transError = /*[[#{translate.transError}]]*/ '번역 실패';
        let noFileSelected = /*[[#{translate.noFileSelected}]]*/ '파일 선택하세요';
    </script>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/translate/translateUploadedFile.css}">
    <link rel="stylesheet" th:href="@{/css/topbar.css}">
</head>
<body>
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/menu :: menu}"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of topbar -->

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h3 class="m-0 font-weight-bold text-primary" th:text="#{translate.fileTranslate}">파일 번역</h3>
                <h5 th:text="#{translate.guide}">언어 선택 설명</h5>
            </div>

            <div class="card-body" style="position: relative;">
                    <label for="selectLan" th:text="#{translate.file.selectLan}">파일 언어:</label>
                    <select id="selectLan">
                        <option value="en-US" th:text="#{translate.en}">영어</option>
                        <option value="ja-JP" th:text="#{translate.ja}" selected>일본어</option>
                        <option value="ko-KR" th:text="#{translate.ko}">한국어</option>
                    </select>
                    <input type="file" id="audioFile" accept="audio/*" onchange="displayFileName()">
                    <label for="audioFile" class="button btnPush btnSkyblue" id="labelOfFile" th:text="#{translate.select.microFile}">select File</label>
                    <span id="fileName">파일 업로드 시 파일명 나타남</span>
                    <a class="button btnPush btnBlue" onclick="upload()" th:text="#{translate.microFileUpload}">push to upload</a>

                    <div id="loadingOverlay" style="display: none;">
                        <img src="/img/translate/loading.png" alt="Loading..." id="loadingImage" />
                    </div>

            </div>

            <div class="translateCard">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    TEXTED
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><div id="texted" th:text="#{translate.text}">텍스트: </div></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-language fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="translateCard">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    TRANSLATED
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><div id="translated" th:text="#{translate}">번역: </div></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-globe fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<div th:replace="~{fragments/logoutModal :: logoutModel}"></div>

</body>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.js}"></script>

<!-- 내 아이콘을 누르면 상태 변경 모달이 출력되고, 상태 및 상태메시지 변경 가능 -->
<script th:src="@{/js/main/topbar.js}"></script>
</html>