<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>real-time Streaming translation</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/icon8.png}">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/translateStreaming.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index/index.css}">
    <script th:src="@{/js/translate/translateStreaming.js}"></script>
    <script th:inline="javascript">
        <!-- 번역용 변수 -->
        let textedError = /*[[#{translate.textedError}]]*/ '텍스트화 실패';
        let transError = /*[[#{translate.transError}]]*/ '번역 실패';
    </script>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/topbar.css}">
    <link rel="stylesheet" th:href="@{/css/translate/translateStreaming.css}">

</head>
<body>
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/menu :: menu}"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" class="text-center">

            <!-- topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of topbar -->

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h3 class="m-0 font-weight-bold text-primary" th:text="#{translate.realtime.streaming}">실시간 음성 번역</h3>
                <h5 th:text="#{translate.guide}">언어 선택 설명</h5>
            </div>

            <div class="card-body">
                <label for="streamingLan" th:text="#{translate.streaming.selectLan}">스트리밍 언어: </label>
                <select id="streamingLan">
                    <option value="en-US" th:text="#{translate.en}">영어</option>
                    <option value="ja-JP" th:text="#{translate.ja}" selected>일본어</option>
                    <option value="ko-KR" th:text="#{translate.ko}">한국어</option>
                </select>

                <!-- 녹음 시작 버튼 -->
                <a href="#" id="start-recording" class="btn btn-success btn-circle btn-lg">
                    <i class="fas fa-microphone"></i>
                </a>

                <!-- 녹음 종료 버튼 -->
                <a href="#" id="stop-recording" class="btn btn-danger btn-circle btn-lg" disabled>
                    <i class="fas fa-microphone-slash"></i>
                </a>

                <!-- 녹음된 내용 다시 듣기 -->
                <audio id="audio-playback" controls></audio>
            </div>

            <div class="translateContainer">
            <div class="translateCard">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    TEXTED
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span th:text="#{translate.streaming.toText}" id="voiceTexted"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-language fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="translateCard">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    TRANSLATED
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><span th:text="#{translate.streamingTrans}" id="voiceTranslated"></span></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-globe fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<div th:replace="~{fragments/logoutModal :: logoutModel}"></div>

</body>

<!-- 게시판 페이지에 필요한 script 모음 -->
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.js}"></script>

<!-- 내 아이콘을 누르면 상태 변경 모달이 출력되고, 상태 및 상태메시지 변경 가능 -->
<script th:src="@{/js/main/topbar.js}"></script>

</html>
