<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>search friends to send message!</title>
    <style>
        table, tr, td, th{
            border: 1px black solid;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h2>쪽지 보낼 친구 검색</h2>
    <input type="text" id="searchWord" placeholder="아이디를 입력하세요.">&nbsp;<button id="completeSelect">선택 완료</button>
    <br><br>
    <div>
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>즐겨찾기 여부</th>
                <th>프로필사진</th>
                <th>ID</th>
                <th>닉네임</th>
                <th>국적</th>
                <th>성별</th>
                <th>보내기</th>
            </tr>
            </thead>
            <tbody id="output">
            <!-- 친구 정보 출력 영역 -->
            </tbody>
        </table>
    </div>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/myPage/searchFriend.js}"></script>
</body>
</html>