<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menuAdmin">
	<ul class="navbar-nav bg-gradient-warning sidebar sidebar-dark accordion" id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-home"></i>
			</div>
			<div class="sidebar-brand-text mx-3" th:text="#{menu.admin.gotohome}">홈 화면 가기</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Heading -->
		<div class="sidebar-heading">
			ADMIN
		</div>

		<li class="nav-item">
			<a class="nav-link" th:href="@{/admin/board}">
				<i class="fas fa-fw fa-cog"></i>
				<span th:text="#{menu.admin.board}">게시판 관리</span></a>
		</li>

		<li class="nav-item">
			<a class="nav-link" th:href="@{/admin/member}">
				<i class="fas fa-fw fa-cog"></i>
				<span th:text="#{menu.admin.member}">회원 관리</span></a>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider">

	</ul>
</div>
</body>
</html>
