<body>
<div th:fragment="realtimeCommentFragment">
    <div id="realtime_comment">
        <ul id="commentList">
        </ul>

        <!-- 댓글 입력 -->
        <div>
            <input type="text" id="nicknameInput" placeholder="닉네임">
            <input type="text" id="commentInput" placeholder="댓글 입력">
            <button id="sendCommentButton">댓글 보내기</button>
        </div>
    </div>

    <!-- 열고 닫을 버튼 -->
    <div id="toggle-button">
        <button id="toggleCommentButton" >◀</button>
    </div>


</div>
</body>