
<body>
<div th:fragment="realtimeCommentFragment">
    <div id="realtime_comment">
        <div id="commentListContainer">
            <ul id="commentList"></ul>
        </div>


        <!-- 답글 달때 댓글 잠깐 나올 영역 -->
        <div id="selected-comment-info"></div>
        <!-- 댓글 입력 -->
        <div id="comment-input-section">
            <div th:if="${member.memberId}">
                <input type="text" id="commentInput" placeholder="댓글 입력">
                <button id="sendCommentButton">댓글 보내기</button>
            </div>
            <div th:unless="${member.memberId}">
                <a> 댓글을 작성하시려면 로그인하세요. </a>
            </div>
        </div>

<!--        <div id="comment-input-section">
            <input type="text" id="nicknameInput" placeholder="닉네임">
            <input type="text" id="commentInput" placeholder="댓글 입력">
            <button id="sendCommentButton">댓글 보내기</button>
        </div>-->
    </div>

    <!-- 열고 닫을 버튼 -->
    <div id="toggle-button">
        <button id="toggleCommentButton">◀</button>
    </div>
</div>
</body>