
<body>
<div th:fragment="realtimeCommentFragment">
    <div id="realtime_comment">
        <div id="commentListContainer">
            <ul id="commentList"></ul>
        </div>

        <div id="memberInfo"></div>
        <!-- 댓글 입력 -->
        <div id="comment-input-section">
            <div th:if="${member.memberId}">
                <input type="text" id="commentInput" th:placeholder="#{main.chat.commentInput.placeholder}" th:attr="data-stabilization=#{main.chat.commentInput.stabilization}">
                <button id="sendCommentButton" th:text="#{main.chat.sendButton}">댓글 보내기</button>
            </div>
            <div class="login-notice" th:unless="${member.memberId}">
                <a id="notLoggingChatInputMessage" th:text="#{main.chat.needLogin}"> 댓글을 작성하시려면 로그인하세요. </a>
            </div>
        </div>
    </div>
    <!-- hidden 필드를 사용하여 friendList의 정보를 저장 -->
    <div th:each="friend : ${friendList}">
        <input type="hidden" th:id="'friend' + ${friend.memberId}" th:value="${friend.memberId}"/>
        <input type="hidden" th:id="'nickname' + ${friend.memberId}" th:value="${friend.nickname}"/>
        <input type="hidden" th:id="'statusMessage' + ${friend.memberId}" th:value="${friend.stMessage}"/>
        <input type="hidden" th:id="'statusName' + ${friend.memberId}" th:value="${friend.statusName}"/>
    </div>

    <!-- 열고 닫을 버튼 -->
    <div id="toggle-button">
        <button id="toggleCommentButton">◀</button>
    </div>
</div>
</body>