<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/topbar.css}">
<body>
<div th:fragment="topbar">
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-0 static-top shadow">

    <!-- Sidebar Toggle (Topbar)
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>-->

    <!-- Topbar Search -->
    <form id ="search_form"
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2" id="search-input">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Topbar Navbar -->
    <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">

      <!-- 프로필 사진 (모달 열기) -->
      <li style="margin-top: 10px" class="nav-item">
        <div class="d-flex align-items-center">
          <!-- 반복문으로 친구 프로필 사진 항목들 생성 -->
          <div th:each="friend : ${favoriteFriendList}" class="nav-link profile-picture-wrapper">
            <a href="#" data-toggle="modal" data-target="#profileModal">
              <div class="profile-picture-container">
                <img class="img-profile rounded-circle" th:src="@{/member/download/{memberId}(memberId=${friend.memberId})}" alt="Profile Picture"/>
                <!-- 회원의 상태를 정해진 색으로 표시 -->
                <div th:if="${friend.statusId == 1}" class="status-indicator"></div>
                <div th:if="${friend.statusId == 2}" class="status-indicator bg-success"></div>
                <div th:if="${friend.statusId == 3}" class="status-indicator bg-warning"></div>
                <div th:if="${friend.statusId == 4}" class="status-indicator bg-gradient-danger"></div>
              </div>
            </a>

            <!-- Modal for Profile Picture -->
            <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel">
                      <!-- 헤더 고유한 id를 사용 -->
                      <span id="headerNickname" th:text="${friend.nickname}"></span> 님의 상태는 :
                      <span id="headerStatusName" th:text="${friend.statusName}">Status</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- 바디 고유한 id를 사용 -->
                    <div class="profile-picture-container">
                      <img id="modalProfileImage" class="img-profile rounded-circle" th:src="@{/member/download/{memberId}(memberId=${friend.memberId})}" alt="Profile Picture"/>
                      <div class="status-indicator"></div>
                    </div>

                    <div class="modal-links">
                      <p><a href="my/message/write">쪽지 보내기</a></p>
                      <span>즐겨찾기 추가</span>
                    </div>

                    <!-- 회원 정보 -->
                    <p><strong>마지막 상태 업데이트:</strong> <span id="modalLastUpdate" th:text="*{#temporals.format(friend.lastStUpdateDt, 'yyyy.MM.dd HH:mm')}">No update available</span></p>
                    <p><strong>상태 메시지:</strong> <span id="modalStMessage" th:text="${friend.stMessage}">No status message</span></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>




      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      <li class="nav-item dropdown no-arrow d-sm-none">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search fa-fw"></i>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
             aria-labelledby="searchDropdown">
          <form class="form-inline mr-auto w-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small"
                     placeholder="Search for..." aria-label="Search"
                     aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- 오른쪽 상단 네비게이션 - 알림 -->
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <!-- Counter - Alerts -->
          <span class="badge badge-danger badge-counter alarm-badge" th:text="${alarmCnt}"></span>
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header alarm-list-header">
            Alerts Center
          </h6>
          <a class="dropdown-item d-flex align-items-center" th:each="alarm : ${alarmList}">
            <div class="mr-3">
              <div th:if="${alarm.categoryId == 1}" class="icon-circle bg-primary">
                <i class="fas fa-file-alt text-white"></i>
              </div>
              <div th:if="${alarm.categoryId == 2 || alarm.categoryId == 3}" class="icon-circle bg-success">
                <i class="fas fa-fw fa-user text-white"></i>
              </div>
              <div th:if="${alarm.categoryId == 4}" class="icon-circle bg-warning">
                <i class="fas fa-exclamation-triangle text-white"></i>
              </div>
            </div>
            <div>
              <span class="font-weight-bold" th:text="${alarm.contents}"></span>
              <div class="small text-gray-500" th:text="(*{#temporals.format(alarm.alarmDt, 'yyyy.MM.dd')})"></div>
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
        </div>
      </li>

      <!-- 오른쪽 상단 네비게이션 - 메세지 알림 -->
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <!-- Counter - Messages -->
          <span class="badge badge-danger badge-counter message-badge" th:text="${unreadMessageCnt}"></span>
        </a>
        <!-- 쪽지함 목록 드롭다운 -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header message-list-header"></h6>
          <a class="dropdown-item d-flex align-items-center" th:each="message : ${unreadMessageList}"
             th:href="@{/my/message/{messageId}(messageId=${message.messageId})}">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" th:src="@{/member/download/{senderId}(senderId=${message.senderId})}" alt="Profile Picture" />
              <!-- 회원의 상태를 정해진 색으로 표시 -->
              <div th:if="${message.statusId == 1}" class="status-indicator"></div>
              <div th:if="${message.statusId == 2}" class="status-indicator bg-success"></div>
              <div th:if="${message.statusId == 3}" class="status-indicator bg-warning"></div>
              <div th:if="${message.statusId == 4}" class="status-indicator bg-gradient-danger"></div>
            </div>
            <div class="font-weight-bold">
              <div class="text-truncate" th:text="${message.content}"></div>
              <div class="span-container">
                <span class="small text-gray-500" th:text="${message.senderId}"></span>
                <span class="small text-gray-500" th:text="(*{#temporals.format(message.createDt, 'yyyy.MM.dd')})"></span>
              </div>
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" th:text="#{main.message.list}" th:href="@{/my/message}"></a>
        </div>
      </li>
      <!-- 언어 설정 변경 -->
      <li id="abc" class="nav-item dropdown no-arrow mx-1">
        <!-- 일본어가 설정된 경우 -->
        <a th:if="${session.lang == 'ja'}" th:href="@{/language(lang='ko')}">
          <img id="flagJa" th:src="@{/img/ja.png}" alt="한국어" />
        </a>

        <!-- 일본어가 설정되지 않은 경우 -->
        <a th:if="${session.lang != 'ja'}" th:href="@{/language(lang='ja')}">
          <img id="flagKo" th:src="@{/img/ko.png}" alt="日本語" />
        </a>
      </li>

      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- 오른쪽 상단 네비게이션 - 회원정보 -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#authentication.principal.username}"></span>
          <img class="img-profile rounded-circle"
               th:src="@{/member/download}" alt="Profile Picture" />
        </a>
        <!-- Dropdown - User Information 이 부분을 클릭하면, 아래 dropdown-item 메뉴가 펼쳐짐 -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="userDropdown" id="userInformation">

          <div class="dropdown-item">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            <span th:text="#{main.myStatus.nickName}">닉네임: </span> <span th:text="${#authentication.principal.nickname}"></span>
          </div>

          <div class="dropdown-item">
            <i class="fas fa-clock fa-sm fa-fw mr-2 text-gray-400"></i>
            <span th:text="#{main.myStatus.lastUpdatedSt}">마지막 상태 업데이트: </span> <span id="lastStUpdateDt">lastStUpdateDt값 가져오기</span>
          </div>

          <div id="statusCircles">
          <img class="img-profile rounded-circle" th:src="@{/member/download}" alt="Profile Picture" id="statusProfileImg"/>
          <div class="circle" data-id="2" id="circleNo2" th:text="#{main.myStatus.safe}">안전</div>
          <div class="circle" data-id="3" id="circleNo3" th:text="#{main.myStatus.evacuate}">피난중</div>
          <div class="circle" data-id="4" id="circleNo4" th:text="#{main.myStatus.help}">도와주세요</div>
          </div>

          <div class="dropdown-item">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            <span th:text="#{main.myStatus.timeSetMessage}">시간 설정 후 상태버튼 클릭</span>
            <div id="timeInputContainer">
              <input type="number" id="hours" value="1" >
              <span th:text="#{main.myStatus.hoursLastMessage}">시간동안 상태가 지속됩니다.</span>
            </div>
            <div id="remainingTime"></div>
          </div>

          <div class="dropdown-divider"></div>
          <div class="dropdown-item">
            <i class="fas fa-sticky-note fa-sm fa-fw mr-2 text-gray-400"></i>
            <span th:text="#{main.myStatus.message}">상태메시지</span>
            <br>
            <div>
            <pre id="statusMessage" th:text="#{main.myStatus.writeMessage}">
              상태메시지 작성
            </pre></div>
            <!-- 수정용 텍스트박스, 처음엔 숨김 -->
            <div id="statusMessageInputDiv">
            <textarea id="statusMessageInput" maxlength="200" ></textarea>
            </div>
            <i class="fas fa-pencil-alt fa-sm fa-fw mr-2 text-gray-400"  id="statusMessageDiv"></i>
            <span id ="editStatusMessage" th:text="#{main.myStatus.editMessage}">수정</span>
            <span id="charCount">0/200<span th:text="#{main.myStatus.charCount}">자</span></span>
            <span id="saveStatusMessage">
              <i class="fas fa-save fa-sm fa-fw mr-2 text-gray-400" ></i><span th:text="#{main.myStatus.saveMessage}">저장</span>
            </span>
          </div>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
    <!-- 로그인이 되어 있지 않은 경우 버튼을 표시 -->
    <th:block sec:authorize="not isAuthenticated()">
      <a href="/member/login">
        <button class="btn btn-primary btn-jittery">
          Login
        </button>
      </a>
    </th:block>
  </nav>
</div>
</body>
<script th:src="@{/js/main/topbar.js}"></script>
</html>