<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/topbar.css}">
<body>
<div th:fragment="topbar">
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar)
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>-->

    <!-- Topbar Search -->
    <form id ="search_form"
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2" id="search-input">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Topbar Navbar -->
    <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">

      <!-- 프로필 사진 (모달 열기) -->
      <li class="nav-item">
        <div class="d-flex align-items-center">
          <!-- 반복문으로 프로필 사진 항목들 생성 -->
          <div th:each="friend : ${favoriteFriendList}" class="nav-link profile-picture-wrapper">
            <a href="#" data-toggle="modal" data-target="#profileModal">
              <div class="profile-picture-container">
                <img class="img-profile rounded-circle" th:src="@{/member/download/{memberId}(memberId=${friend.memberId})}"/>
                <!-- 회원의 상태를 정해진 색으로 표시 -->
                <div th:if="${friend.statusId == 1}" class="status-indicator"></div>
                <div th:if="${friend.statusId == 2}" class="status-indicator bg-success"></div>
                <div th:if="${friend.statusId == 3}" class="status-indicator bg-warning"></div>
                <div th:if="${friend.statusId == 4}" class="status-indicator bg-gradient-danger"></div>
              </div>
            </a>
          </div>
        </div>
      </li>


      <!-- Modal for Profile Picture -->
      <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="profileModalLabel">Profile Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><strong>Message:</strong> <span id="messageContent">Example message content</span></p>
              <p><strong>Timestamp:</strong> <span id="messageTimestamp">Example timestamp</span></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      <li class="nav-item dropdown no-arrow d-sm-none">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search fa-fw"></i>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
             aria-labelledby="searchDropdown">
          <form class="form-inline mr-auto w-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small"
                     placeholder="Search for..." aria-label="Search"
                     aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- 오른쪽 상단 네비게이션 - 알림 -->
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <!-- Counter - Alerts -->
          <span class="badge badge-danger badge-counter" th:text="${alarmCnt}"></span>
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header alarm-list-header">
            Alerts Center
          </h6>
          <a class="dropdown-item d-flex align-items-center" th:each="alarm : ${alarmList}">
            <div class="mr-3">
              <div th:if="${alarm.categoryId == 1}" class="icon-circle bg-primary">
                <i class="fas fa-file-alt text-white"></i>
              </div>
              <div th:if="${alarm.categoryId == 2 || alarm.categoryId == 3}" class="icon-circle bg-success">
                <i class="fas fa-fw fa-user text-white"></i>
              </div>
              <div th:if="${alarm.categoryId == 4}" class="icon-circle bg-warning">
                <i class="fas fa-exclamation-triangle text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500" th:text="(*{#temporals.format(alarm.alarmDt, 'yyyy.MM.dd')})"></div>
              <span class="font-weight-bold" th:text="${alarm.contents}"></span>
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
        </div>
      </li>

      <!-- 오른쪽 상단 네비게이션 - 메세지 알림 -->
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <!-- Counter - Messages -->
          <span class="badge badge-danger badge-counter" th:text="${unreadMessageCnt}"></span>
        </a>
        <!-- 쪽지함 목록 드롭다운 -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header message-list-header"></h6>
          <a class="dropdown-item d-flex align-items-center" th:each="message : ${unreadMessageList}"
             th:href="@{/my/message/{messageId}(messageId=${message.messageId})}">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" th:src="@{/member/download/{senderId}(senderId=${message.senderId})}" alt="Profile Picture" />
              <!-- 회원의 상태를 정해진 색으로 표시 -->
              <div th:if="${message.statusId == 1}" class="status-indicator"></div>
              <div th:if="${message.statusId == 2}" class="status-indicator bg-success"></div>
              <div th:if="${message.statusId == 3}" class="status-indicator bg-warning"></div>
              <div th:if="${message.statusId == 4}" class="status-indicator bg-gradient-danger"></div>
            </div>
            <div class="font-weight-bold">
              <div class="text-truncate" th:text="${message.content}"></div>
              <div class="span-container">
                <span class="small text-gray-500" th:text="${message.senderId}"></span>
                <span class="small text-gray-500" th:text="(*{#temporals.format(message.createDt, 'yyyy.MM.dd')})"></span>
              </div>
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" th:text="#{main.message.list}" th:href="@{/my/message}"></a>
        </div>
      </li>

      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- 오른쪽 상단 네비게이션 - 회원정보 -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#authentication.principal.username}"></span>
          <img class="img-profile rounded-circle"
               th:src="@{/member/download}" alt="Profile Picture" />
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="userDropdown" style="width: 400px; height: 540px;">

          <div class="dropdown-item">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            <span>닉네임: <span th:text="${#authentication.principal.nickname}"></span></span>
          </div>

          <div class="dropdown-item">
            <i class="fas fa-clock fa-sm fa-fw mr-2 text-gray-400"></i>
            <span>마지막 상태 업데이트: <span id="lastStUpdateDt">lastStUpdateDt값 가져오기</span></span>
          </div>

          <div style="display: flex; align-items: center;">
          <img class="img-profile rounded-circle" style="width: 100px; height: 100px; margin-top: 5%; border: 6px solid black;"
               th:src="@{/member/download}" alt="Profile Picture" id="profileImg"/>
          <div class="circle" th:text="#{main.myStatus.safe}" id="2" style="background-color: green">안전</div>
          <div class="circle" th:text="#{main.myStatus.evacuate}" id="3" style="background-color: yellow; color:black">피난중</div>
          <div class="circle" th:text="#{main.myStatus.help}" id="4" style="background-color: red">도와주세요</div>
          </div>

          <div class="dropdown-item">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            시간 설정 후 상태버튼 클릭
            <div id="timeInputContainer" style="margin: 5px;">
              <input type="number" id="hours" value="1" style="text-align: right;">
              <span>시간동안 상태가 지속됩니다.</span>
            </div>
            <div id="remainingTime" style="text-align: center"></div>
          </div>

          <div class="dropdown-item">
            <i class="fas fa-sticky-note fa-sm fa-fw mr-2 text-gray-400"></i>
            <span>상태메시지</span>
            <i class="fas fa-pencil-alt fa-sm fa-fw mr-2 text-gray-400" style="margin-left: 180px"></i>
            <span id ="editStatusMessage">수정</span><br>
            <div>
            <pre id="statusMessage" style="width: 350px; height: 150px;">
              상태메시지 작성
            </pre></div>
            <!-- 수정용 텍스트박스, 처음엔 숨김 -->
            <textarea id="statusMessageInput" maxlength="200" style="display: none; width: 350px; height: 150px;"></textarea>
            <div id="charCount" style="display: none; margin-left: 300px">0/200자</div>
            <span id="saveStatusMessage" style="display: none; margin-left: 300px">
              <i class="fas fa-save fa-sm fa-fw mr-2 text-gray-400" ></i>저장</span>
          </div>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
    <!-- 로그인이 되어 있지 않은 경우 버튼을 표시 -->
    <th:block sec:authorize="not isAuthenticated()">
      <a href="/member/login">
        <button class="btn btn-primary btn-jittery">
          Login
        </button>
      </a>
    </th:block>
  </nav>
</div>
</body>
<script th:src="@{/js/main/topbar.js}"></script>
</html>