<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="writeModal">
  <div class="modal fade" id="writeModal" tabindex="-1" role="dialog" aria-labelledby="writeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- 닫기 버튼 삭제, 제목 중앙 정렬 -->
          <p><strong><span id="writeModalPlaceTitle"></span></strong></p>
        </div>
        <div class="modal-body">
          <form id="writeForm" th:action="@{/board/write}" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="contents" th:text="#{main.label.comment}">이 장소에 대한 내용을 적어주세요!</label>
              <textarea name="contents" id="contents" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
              <!-- label 태그로 파일 첨부 텍스트 표시 -->
              <label for="files" th:text="#{main.label.picture}">사진 업로드 하기</label>

              <!-- 기본 파일 첨부 input -->
              <input type="file" name="files" id="files" multiple>

              <!-- 선택된 파일 이름을 표시할 span -->
              <span id="fileNameDisplay"></span>
            </div>

            <input type="hidden" id="placeId" name="placeId" th:value="${placeId}">

            <!-- 버튼 영역 -->
            <div class="btn-container">
              <button type="submit" class="btn btn-primary" th:text="#{main.button.save}">저장</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{main.button.delete}">취소</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
