<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="googleMap" style="width: 100%;height: 700px;"></div>

<script>
  let lat;
  let long;
  let nowLocation={lat: lat, lng: long};

  function initializeMap() {
    navigator.geolocation.getCurrentPosition((position) => {
      lat = position.coords.latitude;
      long = position.coords.longitude;
      alert(lat + "," + long);

      let mapOptions = {
        center: new google.maps.LatLng(lat, long),
        zoom: 18
      };    //맵 옵션 설정 center: 시작지점, zoom: 확대 크기

      let map = new google.maps.Map(
              document.getElementById("googleMap"),
              mapOptions
      );  //구글 맵 지정

      // let marker = new google.maps.Marker({position: nowmap, map: map});
    });
  }

  // Google Maps API 로드 후에 initializeMap을 호출합니다.
  function nowmap() {
    initializeMap();
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH-jV5JFEoHWcKxqNlJ5bgluKYtDP4qxo&callback=nowmap" async defer></script>

</body>
</html>