.profile-picture-container {
    position: relative;
    display: inline-block; /* 인라인 블록으로 설정하여 다른 요소들과 같은 줄에 배치 */
}

.status-indicator {
    background-color: #eaecf4;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0.125rem solid #fff;
}

.container {
    display: flex; /* Flexbox를 사용하여 요소들을 수평으로 정렬 */
    align-items: center; /* 수직으로 중앙 정렬 */
    gap: 3px; /* 요소들 간의 간격 */
}

.img-profile {
    width: 100px;
    height: 100px;
    margin: 2%;
}

#statusCircles{
   display: flex;
    align-items: center;
}

#hours{
    width: 50px;
}

#userInformation{
    width: 400px;
    height: 560px;
}

#statusProfileImg{
    width: 100px;
    height: 100px;
    margin-top: 5%;
    border: 6px solid black;
}

#circleNo2{
    background-color: green;
}

#circleNo3{
    background-color: yellow;
    color: black;
}

#circleNo4{
    background-color: red;
}

.circle{
    cursor: pointer; /* 클릭 가능 */
    width: 80px; /* 원의 너비 */
    height: 80px; /* 원의 높이 */
    border-radius: 50%; /* 원형으로 만들기 */
    color: white; /* 텍스트 색상 */
    font-size: 14px; /* 텍스트 크기 */
    font-weight: bold; /* 텍스트 굵게 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: 5px; /* 원과 원 사이의 간격 */
    display: flex;
    align-items: center;
    justify-content: center; /* 가로 중앙 정렬 */
}

#timeInputContainer{
    margin: 5px;
    text-align: center;
}

#hours{
    text-align: right;
}

#remainingTime{
    text-align: center;
}

#statusMessage{
    width: 350px;
    height: 150px;
}

#statusMessageInputDiv{
    display: none;
}

#statusMessageInput{
    width: 350px;
    height: 150px;
}

#charCount{
    visibility: hidden; /* 수정버튼 눌렀을 때만 보임 */
    margin-left: 180px;
}

#saveStatusMessage{
    visibility: hidden; /* 수정버튼 눌렀을 때만 보임 */
    margin-left: 10px;
}

