/* 검색 폼 컨테이너 */
.searchForm-container {
    margin: 20px; /* 상하좌우 여백 */
    position: relative; /* relative positioning으로 자식 요소의 절대 위치 설정을 기준으로 삼음 */
}

/* 검색 폼 그룹 */
.search-form-group {
    display: flex; /* 플렉스 박스 레이아웃 */
    align-items: center; /* 수직 가운데 정렬 */
    gap: 10px; /* 요소 사이의 간격 */
}

/* 요청 리스트 버튼 스타일 */
#btnArea {
    position: absolute; /* 절대 위치 설정 */
    right: 0; /* 오른쪽 끝에 배치 */
    top: 50%; /* 세로 중앙에 배치 */
    transform: translateY(-50%); /* 정확한 세로 중앙 정렬 */
    margin-left: 10px; /* 버튼과 다른 요소 사이의 간격 */
}

/* 필터 버튼 스타일 */
.filter-btn {
    background-color: transparent; /* 배경색 없음 */
    border: 2px solid green; /* 초록색 테두리 */
    color: green; /* 글자 색상 */
    border-radius: 20px; /* 둥근 모서리 */
    padding: 5px 15px; /* 패딩 */
    cursor: pointer; /* 커서 포인터 */
    font-size: 14px; /* 글자 크기 */
    font-weight: bold; /* 글자 두께 */
    outline: none; /* 외곽선 없음 */
}

/* 버튼 hover 시 효과 */
.filter-btn:hover {
    background-color: rgba(0, 128, 0, 0.1); /* hover 시 배경색 추가 */
}

/* 검색 입력창 스타일 */
#searchInput {
    padding: 8px;
    border: solid 1px #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f8f9fc;
}

/* 검색 버튼 스타일 */
#pagingForm input[type="submit"] {
    background-color: #007bff; /* 버튼 배경색 */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

/* 버튼 hover 시 효과 */
#pagingForm input[type="submit"]:hover {
    background-color: #0056b3; /* 버튼 hover 시 배경색 변경 */
}

/* 요청 리스트 버튼 스타일 */
.request-list-btn {
    background-color: transparent; /* 배경색 없음 */
    border: 2px solid green; /* 초록색 테두리 */
    color: green; /* 글자 색상 */
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold; /* 글자 두께 */
}

/* 버튼 hover 시 효과 */
.request-list-btn:hover {
    background-color: rgba(0, 128, 0, 0.1); /* hover 시 배경색 추가 */
}


/* 버튼 사이 간격 추가 */
.updateFavoriteBtn, .deleteFriendBtn {
    margin-right: 10px; /* 버튼 오른쪽에 10px 간격 추가 */
}

/* 즐겨찾기 버튼 스타일 */
.updateFavoriteBtn {
    background-color: transparent;
    border: 2px solid yellow;
    color: yellow;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* 삭제 버튼 스타일 */
.deleteFriendBtn {
    background-color: transparent;
    border: 2px solid red;
    color: red;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* 버튼 hover 시 효과 */
.updateFavoriteBtn:hover, .deleteFriendBtn:hover {
    opacity: 0.4;
}

#typeSelect{
    width: 150px;
    border-radius: 4px;
    padding: 5px 30px 5px 10px;
    background-color: #1C39BB;
    color: white;
}
/* 페이징 영역 스타일 */
#navigator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#navigator a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #4e73df;
    border-radius: 4px;
}

#navigator a:hover {
    background-color: #ddd;
}
