<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="authenticatedUser" content="${member.nickname}">

    <title>SB Admin 2 - Dashboard</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/icon8.png}">

    <!-- google map script -->
   <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH-jV5JFEoHWcKxqNlJ5bgluKYtDP4qxo&libraries=places"></script>-->
    <!-- 추가 할 라이브러리를 api의 libraries 부분 뒤에 추가 places,geometry -->
    <script th:src="@{/js/search_marker.js}"></script>
    <script th:src="@{/js/loading.js}"></script>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/index/index.css}">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}">
    <link rel="stylesheet" th:href="@{/css/index/realtimeComment.css}">
    <link rel="stylesheet" th:href="@{/css/topbar.css}">

    <!-- JavaScript 내 Thymeleaf(HTML에서만 정상 동작) 표현식은 서버에서 렌더링된 후 클라이언트로 전달되어야 함
          동적으로 추가되는 요소에 대해 JS로 국제화 th:text를 추가하기 위해서는, 반드시 th:inline="javascript"
          형식을 사용해야 Thymeleaf 구문이 JavaScript 내부에서 정상적으로 해석되고, JS 내에서 타임리프 사용 가능
          서버에서 Thymeleaf 표현식을 처리한 후, 그 값을 JavaScript 변수로 전달! JS에서는 ${변수} 형태로 사용 -->
    <script th:inline="javascript">
        /*상태용 변수*/
        let expiredMessage = /*[[#{main.myStatus.expiredTime}]]*/ '만료된 기본 메시지';
        let remainingMessage = /*[[#{main.myStatus.time.remaining}]]*/ '남은 시간:';
        let hoursLabel = /*[[#{main.myStatus.time.hoursLeft}]]*/ '시간';
        let minutesLabel = /*[[#{main.myStatus.time.minutesLeft}]]*/ '분';
        let secondsLabel = /*[[#{main.myStatus.time.secondsLeft}]]*/ '초';
        <!-- 경로표시용 변수 -->
        let walkingRoot = /*[[#{map.walkingRoot}]]*/ '도보 경로 정보';
        let bicycleRoot = /*[[#{map.bicycleRoot}]]*/ '도보 경로 정보';
        let distanceLabel = /*[[#{map.distance}]]*/ '거리:';
        let durationLabel = /*[[#{map.duration}]]*/ '소요 시간:';
    </script>
</head>

<div id="loading">
    <div class="custom-spinner">
        <div class="icon-section">
            <div class="icon friend-status"></div>
            <div class="icon shelter-guide"></div>
            <div class="icon chat-sharing"></div>
            <div class="icon translation-service"></div>
        </div>
        <h3 style="position: relative;">
            <span class="furigana"> サ イ ガ イ ド</span> <!-- 후리가나 추가 -->
            <br>
            <span th:text="#{load.site.text}">ページローディング中...</span>
            <br><br>
            <h4 th:text="#{load.site.subtext}">내일을 위한 대비</h4>
        </h3>

    </div> <!-- end of custom-spinner -->
</div>  <!-- end of loading div -->


<body id="page-top">

            <!-- Page Wrapper -->
            <div id="wrapper">

                <!-- Sidebar -->
                <div th:replace="~{fragments/menu :: menu}"></div>
                <!-- End of Sidebar -->

                <!-- 마커 클릭 시 상세 정보 출력 판넬 -->
                <ul id="info-panel">
                    <div id="info_part"></div>
                    <div class="button-container">
                        <button id="departureB" class="info-button">출발</button>
                        <button id="arrivalB" class="info-button">도착</button>
                    </div>
                    <div class="share-container">
                        <button id="shareBtn">공유</button>
                    </div>
                    <!-- 글목록 -->
                    <div id="board-list"></div>
                    <div>
                        <a id="writeLink" th:href="@{/board/write/${palceID}}">글쓰기</a>
                        <button id="favMarker">
                            <img th:src="@{/img/star2.png}">
                        </button>
                    </div>
                </ul>

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- topbar -->
                        <div th:replace="~{fragments/topbar :: topbar}"></div>
                        <!-- End of topbar -->

                        <!-- Begin Page Content -->

                <!-- 지도 컨테이너 -->
                <div id="map-container" style="position: relative; height: 95%; width: 100%;">
                    <!-- 구글 지도 -->
                    <div id="map" style="height: 100%; width: 100%; z-index: 0;"></div>

                    <!-- 병원 버튼 -->
                    <button type="button" id="hospitalFilterButton" th:text="#{main.button.hospital}">병원</button>

                    <!-- 대피소 버튼 -->
                    <button type="button" id="shelterFilterButton" th:text="#{main.button.shelter}">대피소</button>

                    <!-- 내 위치 버튼 -->
                    <button id="myLocation"><img th:src="@{/img/map/myLocation.png}" class="img-40"></button>
                </div>

                <!-- 실시간 댓글 반응 창 -->
                <div th:replace="~{fragments/realtimeComment :: realtimeCommentFragment}"></div>

            </div>

            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div th:replace="~{fragments/logoutModal :: logoutModel}"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.js}"></script>

    <!-- 내 아이콘을 누르면 상태 변경 모달이 출력되고, 상태 및 상태메시지 변경 가능 -->
    <script th:src="@{/js/main/topbar.js}"></script>

    <!-- 실시간 반응 댓글 js 파일 -->
    <script th:src="@{/js/main/realtimeComment.js}"></script>
</body>

</html>