<!DOCTYPE html>
<html>
<head>
  <title>Styled Map Example</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH-jV5JFEoHWcKxqNlJ5bgluKYtDP4qxo"></script>

  <script>
    let lat;  //위도
    let long; //경도
    var map;  //맵

    function initMap() {

      //getCurrentPosition에서 값을 받으면 position으로 값이 들어간다.
      //position에는 coords.을 통해 latitude, longitude등의 정보를 담고있다.
      navigator.geolocation.getCurrentPosition((position) => {
        lat = position.coords.latitude;
        long = position.coords.longitude;

        let myLocation = { lat: lat, lng: long};  //장소

        map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: lat, lng: long},
          zoom: 18,
        });   //맵 지정 및 맵 옵션 설정

        const marker = new google.maps.Marker({
          position: myLocation,
          map: map,
        });   //마커 설정 및 마커맵 지정

      });

    }



    google.maps.event.addDomListener(window, 'load', initMap);
  </script>

</head>
<body>
<div id="map" style="height: 500px; width: 100%;"></div>
</body>
</html>