<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>삭제 글 상세 페이지</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/admin/boardDetail.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="custom-card">
        <div class="custom-card-header">
            <h2 class="m-0 font-weight-bold">삭제 글 상세 페이지</h2>
        </div>
        <div class="custom-card-content">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <tbody th:object="${deletedBoard}">
                    <tr>
                        <th th:text="#{board.column.memberId}"></th>
                        <td th:text="*{memberId}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{admin.board.column.markerNm}"></th>
                        <td th:if="*{hospitalName != null}" th:text="*{hospitalName}"></td>
                        <td th:if="*{shelterName != null}" th:text="*{shelterName}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{board.column.createDt}"></th>
                        <td th:text="*{#temporals.format(createDt, 'yyyy.MM.dd HH:mm')}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{admin.board.column.content}"></th>
                        <td th:text="*{contents}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{admin.board.column.deleteReason}"></th>
                        <td th:text="*{deleteReason}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{admin.board.column.deleteDt}"></th>
                        <td th:text="*{#temporals.format(deleteDt, 'yyyy.MM.dd HH:mm')}"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="button" id="updateBoardBtn" th:data-id="*{boardId}" th:text="#{admin.board.button.undoDelete}"></button>
                            <button type="button" id="viewBoardListBtn" th:text="#{board.button.toList}"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- jQuery and JS -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/js/admin/boardDetail.js}"></script>
</body>
</html>
