/* 컨테이너 중앙 정렬 */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 카드 스타일 */
.custom-card {
    width: 50%; /* 카드의 너비를 화면의 50%로 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    border-radius: 10px; /* 모서리 둥글게 */
    background: white;
    transition: box-shadow 0.3s ease;
}

/* 카드에 마우스 호버 시 그림자 효과 강조 */
.custom-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* 카드 헤더 스타일 */
.custom-card-header {
    background-color: #d3d3d3;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    padding: 15px;
}

/* 카드 내용 스타일 */
.custom-card-content {
    padding: 20px;
}

/* 테이블 스타일 */
.custom-card table th {
    background-color: #e0ffe0;
    color: #333;
    font-weight: bold;
    text-align: left;
    padding: 12px;
}

.custom-card table td {
    padding: 12px;
    vertical-align: middle;
}

/* 버튼 스타일 */
#deleteMessageBtn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: red; /* 초록색 버튼 */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#viewMessageListBtn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: brown; /* 초록색 버튼 */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
body {
    background: #f0f8ff;
}